<div class="background-whole">

  <div class="channel">

    <div class="welcome">
      <img class="welcome-pic" src="../assets/welcome.png" width="1000px" />
    </div>

    <!--<app-delicacy-search></app-delicacy-search>-->
    <!--<app-delicacy-collection></app-delicacy-collection>-->
    <!--<app-delicacy-collection-click></app-delicacy-collection-click>-->
    <!--<app-delicacy-remark></app-delicacy-remark>-->
    <img class="footer-pic" src="../assets/footer.png" />
  </div>

</div>

<!--<p-button label="Try API" (click)="tryApi()"></p-button>-->
