<div class="user-information" >
  <!--<div class="dp">
      <img src="information.dppath"/>
  </div>
-->
  <div class="informationin">
  <div class="photo"><img class="pic" src={{photopath}} ></div>
  <div class="username">用户名：{{username}}</div>
  <div class="id">ID： {{id}}
  <div class="gender">性别：{{gender}}</div>
  <div class="birth">出生时间：{{birth}}</div>
  <div class="introduction">个人介绍：{{intro}}</div>
  <p><br></p>
  <div class="information-modify-button">
      <a routerLink="/informationmodify"><p-button  icon="pi pi-info-circle" label='修改个人资料' ></p-button></a>
  </div>
  <br>
</div>
</div>
