header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 100;
}

nav {
  position: fixed;
  top: 60px;
  width: 100%;
  height: 36px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #002538;
  color: white;
  text-align: center;
  height: 40px;
  padding-top: 8px;
  z-index: 100;
}

nav {
  z-index: 90;
}

span.title {
  /*color: black;*/
  margin-left: 10px;
}

.signin {
  padding-left: 0!important;
}

.dropdown button.dropdown-toggle:not(.notDown) {
  margin-top: 17px;
  margin-left: 15px;
  color: #fafafa;
  outline: none;
}

.notDown {
  outline: none;
}

header .branding {
  min-width: 6rem;
}

label {
  padding-left: 5px!important;
}

body {
  /*line-height: 0!important;*/
}
