<div class="login">
    <div class="input-box">
        <span class="icon icon-password"></span>
        <input type="password" pInputText [(ngModel)]="oldpassword" placeholder="请输入您的当前密码">
    </div>
    <div class="input-box">
        <span class="icon icon-password"></span>
        <input type="password" pInputText [(ngModel)]="newpassword" placeholder="请设置新密码">
    </div>

    <div class="box">
        <p-button class="sub" label="修改密码" (click)="passwordmodify()"></p-button>
    </div>
    <p-messages [(value)]="mmsg_password" class="mymessage_password"></p-messages>  
    <p-messages [(value)]="mmsg_password2" class="mymessage_password2"></p-messages>  
</div>





